<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<resources>

    <!-- KeyHandler APK ka system path -->
    <string name="config_deviceKeyHandlerLib" translatable="false">/system_ext/priv-app/KeyHandler/KeyHandler.apk</string>

    <!-- KeyHandler Java/Kotlin Class Path -->
    <string name="config_deviceKeyHandlerClass" translatable="false">org.lineageos.settings.device.KeyHandler</string>

</resources>